{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}О проекте{% endblock %}

{% block content %}
<main>
    <h1>О проекте</h1>
    <p>Этот сайт создан в рамках дипломного проекта по теме "Разработка сайта компании и интеграция телеграм бота".</p>
    <p>Автор: Корабельников Виталий НМТ-413929</p>
    <p>Цель проекта: предоставить удобный каталог САПР-систем с информацией о продуктах, категориях и возможностях для инженеров, архитекторов и студентов.</p>
    <p>Использованные технологии: Python, Django, HTML, CSS.</p>
    <p>Год разработки: 2025</p>
    <p>Уральский федеральный университет имени первого Президента России Б. Н. Ельцина</p>
    <p>Для обратной связи: <a href="{% url 'myapp:contacts' %}">Контакты</a></p>
</main>
{% endblock %}